COMPOSE_PROJECT_NAME=tabletkovbot
APP_URL=127.0.0.1
NGINX_HOST_PORT=

APP_TIMEZONE=

TELEGRAM_BOT_TOKEN=
TG_BOT_BASE_URL=https://api.telegram.org

MYSQL_ROOT_PASSWORD=123
MYSQL_USER=user
MYSQL_PASSWORD=123
MYSQL_DATABASE=db
MYSQL_PORT=5306
MYSQL_HOST=

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/

OUTBOX_BATCH_SIZE=50
OUTBOX_POLL_INTERVAL_MS=1000

LOG_STDOUT=true
