COMPOSE_FILE=docker/docker-compose.yml

COMPOSE_PROJECT_NAME=tabletkovbot
APP_URL=127.0.0.1
NGINX_HOST_PORT=8000

APP_TIMEZONE=Asia/Yekaterinburg

TELEGRAM_BOT_TOKEN=
TG_BOT_BASE_URL=https://api.telegram.org

MYSQL_ROOT_PASSWORD=123
MYSQL_USER=user
MYSQL_PASSWORD=123
MYSQL_DATABASE=db
MYSQL_PORT=5306
MYSQL_HOST=db

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_MESSAGE_QUEUE=telegram.send-message
RABBITMQ_REPORT_QUEUE=report.generate

OUTBOX_BATCH_SIZE=50
OUTBOX_POLL_INTERVAL_MS=1000
OUTBOX_MAX_ATTEMPTS=4

NOTIFY_POLL_INTERVAL_MS=60000
REPORT_POLL_INTERVAL_MS=1000
REPORT_MAX_DAYS=365
REPORT_MAX_SEND_ATTEMPTS=3
REPORT_TEMP_FILE_TTL=3600

LOG_STDOUT=true
LOG_MAX_BYTES=10485760
LOG_MAX_BACKUPS=5
