parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Infrastructure\\Dbal\\Repositories\\MessageOutboxRepository\:\:mapOrmToDomain\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Infrastructure/Dbal/Repositories/MessageOutboxRepository.php

		-
			message: '#^Method App\\Infrastructure\\Dbal\\Repositories\\ReportOutboxRepository\:\:mapOrmToDomain\(\) has parameter \$row with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Infrastructure/Dbal/Repositories/ReportOutboxRepository.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Binary operation "\." between ''\<h3\>Месяц\: '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Binary operation "\." between ''\<td\>\<b\>'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Cannot access offset ''data'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Cannot access offset ''end_day'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Cannot access offset ''start_day'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Cannot use \+\+ on mixed\.$#'
			identifier: postInc.type
			count: 2
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Infrastructure/PDF/PdfFactory.php

		-
			message: '#^Method App\\Infrastructure\\RabbitMq\\Deserializer\:\:buttons\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Infrastructure/RabbitMq/Deserializer.php

		-
			message: '#^Method App\\Infrastructure\\RabbitMq\\Deserializer\:\:optionalString\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Infrastructure/RabbitMq/Deserializer.php

		-
			message: '#^Method App\\Infrastructure\\RabbitMq\\Deserializer\:\:requireDate\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Infrastructure/RabbitMq/Deserializer.php
